<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EduNest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EduNest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EduNest.Settings>
            <setting name="LastNestOpened" serializeAs="String">
                <value />
            </setting>
        </EduNest.Settings>
    </applicationSettings>
    <userSettings>
        <EduNest.Settings>
            <setting name="LocalPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MakeABackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoLogAdding" serializeAs="String">
                <value>True</value>
            </setting>
        </EduNest.Settings>
    </userSettings>
</configuration>